In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import squarify 
import calendar
import datetime 
from datetime import datetime 
%matplotlib inline

In [2]:
import pandas as pd
schema_raw = pd.read_csv('top_paying.csv')

In [3]:
schema_raw

     JobId  YearlySalary
0   226942      650000.0
1   547382      336500.0
2   552322      255829.5
3    99305      232423.0
4  1021647      217000.0
5   168310      205000.0
6   731368      189309.0
7   310660      189000.0
8  1749593      186000.0
9   387860      184000.0